.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  box-sizing: content-box;
}

@font-face {
  font-family: FredokaOne;
  src: url("./assets//fonts/FredokaOne-Regular.ttf");
}

.view {
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  &.game {
    background-color: #475c7a;
  }
}

.grid-wallpaper {
  z-index: 0;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: grid;
  position: relative;
  background-color: #e2e1e0;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-gap: 0.2rem;
}

.grid-wallpaper-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.enter-card {
  width: 36%;
  height: 90%;
  left: 32%;
  position: absolute;
  top: 5%;
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.enter-card-body {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.level-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.level-btn-container {
  height: 4rem;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap");

.level-btn {
  cursor: pointer;
  height: 100%;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 2rem;
  color: #ffffff;
  font-size: 1.7rem;
  font-family: "Changa", sans-serif;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  &.easy {
    background-color: #0fab83;
  }
  &.meduim {
    background-color: #ffa510;
  }
  &.hard {
    background-color: #eb1a2f;
  }
}

.level-btn:hover {
  &.easy {
    box-shadow: 0px 15px 20px rgba(15, 171, 131, 0.4);
  }
  &.meduim {
    box-shadow: 0px 15px 20px rgba(255, 165, 16, 0.4);
  }
  &.hard {
    box-shadow: 0px 15px 20px rgba(235, 26, 47, 0.4);
  }
  transform: translateY(-2px);
}

.level-btn:active {
  &.easy {
    box-shadow: 0px 15px 20px rgba(15, 171, 131, 0.4);
  }
  &.meduim {
    box-shadow: 0px 15px 20px rgba(255, 165, 16, 0.4);
  }
  &.hard {
    box-shadow: 0px 15px 20px rgba(235, 26, 47, 0.4);
  }

  transform: translateY(2px);
}

.game-header {
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: FredokaOne;
}

.points-container {
  letter-spacing: 0.25rem;
  font-size: 1.3rem;
}
.buttons-container {
  display: flex;
}
.icon-btn {
  width: 3rem;
  text-align: end;
  cursor: pointer;
}

.icon-btn:active {
  transform: translateY(0.2em);
}

.board-game {
  box-sizing: border-box;
  height: 100%;
  display: grid;

  &.easy {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
  }

  &.meduim {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  &.hard {
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  grid-gap: 0.4rem;
  padding: 0.7rem;
}

.card {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
  &.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
  .front,
  .back {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12), 1px 1px 4px rgba(0, 0, 0, 0.24);
    display: block;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    /* front tile styles go here! */
    background-color: #bcbbcb;
  }
  .back {
    transform: rotateY(-180deg);
    /* back tile styles go here! */
    background-color: #ffffff;
  }
}

.card-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  box-sizing: border-box;
}

.front-body {
  box-sizing: border-box;
  border: 0.08rem solid #000000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-card {
  width: 100%;
  height: 100%;
}

.faded-points-change {
  box-sizing: border-box;
  padding-left: 1rem;
  width: 3rem;
  height: 100%;
  position: relative;
  text-align: center;
  -webkit-animation: fadeout ease 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout ease 2s; /* Firefox < 16 */
  -ms-animation: fadeout ease 2s; /* Internet Explorer */
  -o-animation: fadeout ease 2s; /* Opera < 12.1 */
  animation: fadeout ease 2s;
}

// #########################################################

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

// -fadout

@keyframes fadeout {
  0% {
    opacity: 1;
    top: 100%;
  }
  25% {
    opacity: 0.75;
    top: 75%;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  75% {
    opacity: 0.25;
    top: 25%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
    top: 100%;
  }
  25% {
    opacity: 0.75;
    top: 75%;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  75% {
    opacity: 0.25;
    top: 25%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    top: 100%;
  }
  25% {
    opacity: 0.75;
    top: 75%;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  75% {
    opacity: 0.25;
    top: 25%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  0% {
    opacity: 1;
    top: 100%;
  }
  25% {
    opacity: 0.75;
    top: 75%;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  75% {
    opacity: 0.25;
    top: 25%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  0% {
    opacity: 1;
    top: 100%;
  }
  25% {
    opacity: 0.75;
    top: 75%;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  75% {
    opacity: 0.25;
    top: 25%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
